<div class="pantalla">

    <mat-card class="card animacionLateral">

        <div class="formulario">
            <i class="material-icons material-icons-outlined icono">report</i>

            <div class="mensaje">ESTAMOS</div>
            <div class="mensaje"><b>ACTUALIZANDO</b></div>
            <div class="mensaje">EL SISTEMA</div>
               

            <div class="contenedorDivisor"></div>


            <div class="mensaje2">Por favor intente</div>
            <div class="mensaje2">nuevamente <b>más tarde</b>...</div>


            <div class="redireccion">actualizando...</div>
            <mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar>

        </div>
            
    </mat-card>
            
    <div class="footer animacionLateral"> DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</div>
   
 </div>