.pantalla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media screen and (max-width: 768px){
        padding: 10px;
        align-items:flex-start;

    }

 }

 

 .qr {
     padding: 40px;
     margin-right: 50px;
     @media screen and (max-width: 768px){
        margin-right: 0px;

    }
 }

.contenedorQR {
    display: flex;
    flex-direction: column;
}

.cargando {
    width: 50%;
    margin: 0 auto;
}

.spiner {
   width: 100%;
   opacity: .5;

}

.imgLogo {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
    opacity: .9;
    @media screen and (max-width: 768px){
       width: 70%;
   }
}

 .imgQR {
     width: 250px;
     @media screen and (max-width: 768px){
         width: 100%;
     }
 }

 .btnQR {
     margin-top: 10px !important;
     margin: 0 auto;
 }


 .info {
    @media screen and (max-width: 768px){
         display: none;
    }
 }


.contenedorTitulo {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.titulo {
    font-size: 30px;
    color: #353535;
    margin-bottom: 10px;
}


 .imgCelular {
     margin-left: -20px;
     width: 150px;
 }

 .textoOpcion {
     margin: 20px 0 10px 0;
 }

 .parrafo {
     font-weight: 100;
 }

 .activacionManual {
     text-decoration: none;
     margin: 10px;
     color: grey;
 }