
<div>
    <p *ngIf='(challenge$ | async) as c'>challenge: {{c}}</p>
    <p *ngIf='(device_hash$ | async) as d'>device hash: {{d}}</p>
</div>

<div *ngIf='qr'>
    <mat-spinner></mat-spinner>
    <p>código: {{qr.code}}</p>
    <div><a href='{{url_to_redirect}}/{{qr.code}}'>activar manual</a></div>
    <p>Por favor escanee este código qe usando su celular</p>
    <div><img src='{{qr.qr_datauri}}'/></div>
</div>

<div *ngIf='error'>
    <p>{{error}}</p>
    <button (click)='generar_codigo_qr()'>Generar Código QR</button>
</div>


