<div class="pantalla">

    <div *ngIf='qr'>
        <div>
            <mat-card class="qr">
                <div class="contenedorQR">
                    <img class="imgLogo" src="/assets/img/logo_fce.png">
                    <img class="imgQR" src='{{qr.qr_datauri}}'/>
                    <div class="cargando">
                            <mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar>
                    </div>
                    <button class="btnQR" mat-raised-button (click)='generar_codigo_qr()'>GENERAR OTRO QR</button>
                </div>  
            </mat-card>
            <div><a class="activacionManual" href='{{url_to_redirect}}/{{qr.code}}'>activar manual</a></div>
        </div>
    </div>

    <div class="info">
        <div class="contenedorTitulo">
            <img class="imgCelular" src="/assets/img/qr-code.png">
            <div class="titulo">Escanear QR</div>
        </div>

        <mat-divider></mat-divider>
        
        <div class="textoOpcion"><b>OPCIÓN 1</b></div>
        <div class="parrafo">
            1- Abre la aplicación de la FCE en tu teléfono.<br>
            2- Toca Menu <i class="material-icons">menu</i>, Escanear QR <i class="material-icons">center_focus_weak</i>.<br>
            3- Cuando se active la cámara, apunta tu teléfono hacia esta pantalla para escanear el código.
        </div>
        
        <div class="textoOpcion"><b>OPCIÓN 2</b></div>
        <div class="parrafo">
            1- Accede en tu teléfono con tu explorador favorito a htts://fce.econo.unlp.edu.ar <br>
            2- Ingresa con tus credenciales. <br>
            3- Toca Menu <i class="material-icons">menu</i>, Escanear QR <i class="material-icons">center_focus_weak</i>.<br>
            4- Cuando se active la cámara, apunta tu teléfono hacia esta pantalla para escanear el código.
        </div>

    </div>

</div>

<!-- <div *ngIf='qr'>
        <mat-spinner></mat-spinner>
        <p>código: {{qr.code}}</p>
        <div><a href='{{url_to_redirect}}/{{qr.code}}'>activar manual</a></div>
        <p>Por favor escanee este código qe usando su celular</p>
        <div><img src='{{qr.qr_datauri}}'/></div>
</div> -->



<!-- <div>
    <p *ngIf='(challenge$ | async) as c'>challenge: {{c}}</p>
    <p *ngIf='(device_hash$ | async) as d'>device hash: {{d}}</p>
</div> -->



<!-- <div *ngIf='error'>
    <p>{{error}}</p>
    <button (click)='generar_codigo_qr()'>Generar Código QR</button>
</div> -->


