<div>


    <div class="cabecera">
        <button mat-button class="btnVolver"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
    </div>

    <mat-divider></mat-divider>

    <div class="contenido">

      <h3>INGRESAR CÓDIGO </h3>

      <p class="mensajePrincipal">Te hemos enviado un código de confirmación a tu cuenta alternativa, copia y pega el código.</p>
        <p class="mensajeSecundario">Recuerda revisar la bandeja de correo no deseado (Spam) es probable que los correos electrónicos que te enviamos se encuentren allí.</p>


      <form class="formulario" [formGroup]='form' (ngSubmit)='confirmar()'>
          <mat-form-field>
              <input matInput placeholder="Ingresa el Código" type='text' formControlName='codigo'/>
              <mat-error *ngIf='!form.valid && form.dirty'>Código inválido</mat-error>
          </mat-form-field>

          <button mat-button class="btnSiguiente" type='submit'>CONFIRMAR</button>
      </form>

    </div>




</div>
