<div class="pantalla">
    <mat-card>
        Bienvenido Pepe Pompin..
        El correo que tenemos registrado comienza con :
        ppepe.pom.....@super.dominio.com
    </mat-card>
    <mat-card>
        <form [formGroup]='form' (ngSubmit)='verificar()' class="formulario">
            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Complete el correo indicado arriba completo..." formControlName='email' type="text">
                <mat-error *ngIf="form.get('email').hasError('required')">Debe ingresar algún valor</mat-error>
                <mat-error *ngIf="form.get('email').hasError('email')">Correo no válido</mat-error>
            </mat-form-field>
        
            <button *ngIf='!accediendo' class="btnAcceder" mat-flat-button color="primary" type='submit'>VERIFICAR</button>
        </form>

    </mat-card>

    <mat-card *ngIf='accediendo'>
        <mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar>
        Enviando correo con código de verificación
    </mat-card>

</div>