<div class="pantalla">

    <mat-card>
    
        <form [formGroup]='credenciales' (ngSubmit)='configurar()' class="formulario">
            
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input *ngIf='!ver_clave' matInput placeholder="Contraseña" formControlName='password' type="password">
                <input *ngIf='ver_clave' matInput placeholder="Contraseña" formControlName='password' type="text">
                <mat-error *ngIf="credenciales.get('password').hasError('minlength')">8 caracteres como mínimo</mat-error>
                <mat-error *ngIf="credenciales.get('password').hasError('required')">Debe ingresar algún valor</mat-error>
                <mat-error *ngIf="credenciales.get('password').hasError('pattern')">Caractéres no permitidos</mat-error>
                <button type='button' mat-icon-button matSuffix (click)="ver_clave = !ver_clave" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ver_clave">
                    <mat-icon>{{ver_clave ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                    <mat-label>Repita su Contraseña</mat-label>
                    <input *ngIf='!ver_clave' matInput placeholder="Contraseña" formControlName='password2' type="password">
                    <input *ngIf='ver_clave' matInput placeholder="Contraseña" formControlName='password2' type="text">
                    <mat-error *ngIf="credenciales.get('password2').hasError('minlength')">8 caracteres como mínimo</mat-error>
                    <mat-error *ngIf="credenciales.get('password2').hasError('required')">Debe ingresar algún valor</mat-error>
                    <mat-error *ngIf="credenciales.get('password2').hasError('pattern')">Caractéres no permitidos</mat-error>
                    <button type='button' mat-icon-button matSuffix (click)="ver_clave = !ver_clave" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ver_clave">
                        <mat-icon>{{ver_clave ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
        
            <button *ngIf='!accediendo' class="btnAcceder" mat-flat-button color="primary" type='submit'>ACCEDER</button>
            <mat-progress-bar *ngIf='accediendo' mode="indeterminate" class="spiner" ></mat-progress-bar>
        
        </form>

    </mat-card>
</div>