<div *ngIf='temporal'>


      <mat-divider></mat-divider>

      <div class="contenido">

        <h3>NUEVA CONTRASEÑA GENERADA </h3>

        <p class="clave">{{temporal}}</p>

        <p class="mensajeListo">Ya puedes usar esa clave para acceder a los servicios de la facultad.</p>

        <mat-divider></mat-divider>


        <div class="mensaje">
          <p><b>Importante</b></p>
          <p>La contraseña es personal y no debes divulgarla, ningún sector de la facultad ni de la universidad te pediran estos datos.</p>
          <p>No respondas correos requiriendo tu contraseña o datos personales aunque en ellos indiquen que van a dar de baja su cuenta.</p>
        </div>

        <button mat-button (click)='cambiar_clave()' class="btnSiguiente">CAMBIAR CLAVE</button>


      </div>



</div>
