.contenido {
  padding: 20px;
  margin: 0 auto;
  width: 30%;
}

.clave {
  color: #4186e1;
  font-size: 50px;
  margin-top: 10px;
  margin-top: 10px;

}

.mensajeListo {
  margin-bottom: 20px;
}

.mensaje {
  margin-top: 20px;
  font-size: 14px;
}

.btnSiguiente {
  background-color: #4186e1;
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .contenido {
    width: 100%;
  }
}
