<div class="pantalla">
    <div class="cargando">
        <mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar>
    </div>
    <!-- <p>{{challenge$ | async}}</p>
    <p>{{device_hash$ | async}}</p>
    <p>{{mensaje}}</p> -->

    <div class="footer animacionLateral"> DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</div>
    <div class="version animacionLateral">
        <div><i class="material-icons">bubble_chart</i></div>
        <div>Versión {{version}}</div>  
    </div>
</div>

