<!-- esto se muestra mientras esta procesando los datos el servidor, para analizar si es necesario loguearse nuevamente. -->
<div  *ngIf="login_challenge == ''">

    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

</div>

<!-- se muestra solo en el caso de que sea necesario loguearse -->
<div class="login"  *ngIf="login_challenge != ''">
  <mat-toolbar class="cabecera">
      <div><span>{{loginHeader}}</span></div>
  </mat-toolbar>
  <div class="contenido">
      <div class="contenedorTitulo">
          <div>Iniciar sesión</div>
      </div>
      <div class="contenedorLogin">
        <form class="formulario" [formGroup]='formulario' (ngSubmit)='acceder()'>
              <mat-form-field class="example-full-width">
                <mat-icon class="iconoFormulario" matPrefix>person</mat-icon>
                <input class="itemInput" matInput placeholder="Usuario" formControlName='usuario'>
                <mat-error *ngIf='usuario.invalid'> nombre de usuario incorrecto</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-icon class="iconoFormulario" matPrefix>lock</mat-icon>
                <input #clave type="password" matInput placeholder="Contraseña" formControlName='clave'>
                <mat-icon class="iconoVerContrasena" matSuffix (click)="cambiar_tipo(clave)">{{clave.type == 'text' ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf='clave.invalid'> contraseña incorrecta</mat-error>
              </mat-form-field>
              <div class="contenedorBtnAcceder">
                  <button class="btnAcceder" type='submit' mat-raised-button>ACCEDER</button>
              </div>
              <mat-checkbox class="checkboxRecordar">Recordar contraseña</mat-checkbox>
        </form>
        <mat-error *ngIf='estado == 401'>Usuario o clave no válido</mat-error>
        <mat-error *ngIf='estado == 500 || estado == 0'>Error de servidor</mat-error>
        <div class="contenedorAyuda">
            <div><a routerLink='/recuperar_clave/ingresar_dni'>Olvidé mi contraseña</a></div>
            <div><a href="" target="_blank">Ayuda y preguntas frecuentes</a></div>
        </div>
      </div>

      <div class="logoFCE">
          <img class="imgLogo" src={{loginLogo}} height="" width="">
      </div>

  </div>

  <div class="footer">
    <div class="footerMini">{{loginFooterMini}}</div>
    <div class="footerFull">{{loginFooterFull}}</div>
  </div>

</div>
