.pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background-image: url("/assets/img/fondo2.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media screen and (min-width: 1600px){
    zoom: 1.2;
    }
} 

 .card {
    width: 360px;
    @media screen and (max-width: 768px){
        width: 70%;
    }

 }

 .formulario {
     display: flex;
     flex-direction: column;
     padding: 20px;
     @media screen and (max-width: 768px){
      padding: 0px;
   }
 }


 .imgLogo {
     margin: 0 auto;
     opacity: .9;
     @media screen and (max-width: 768px){
        width: 90%;
    }
 }


 .spiner {
    width: 390px;
    opacity: .5;
    margin: 0 auto;
    margin-top: -4px;
    @media screen and (max-width: 768px){
    width: 78%;
   }
 
 }

