<div class="pantalla">

    <mat-card class="card animacionLateral">

        <div class="formulario">
            
            <img class="imgLogo" src="/assets/img/logo_fce.png">
            <div><b>¡TODO LISTO!</b></div>
            <div class="contenedorDivisor"></div>
            <div class="subTitulo">El cambio de contraseña ha finalizado correctamente.</div>
            <div class="subTituloAlternativo">Recuerda actualizar la contraseña almacenada en los dispositivos que hayas iniciado sección.</div>
            <div class="redireccion">Redireccionando...</div>
            <mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar>

        </div>
            
    </mat-card>
            
    <div class="footer animacionLateral"> DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</div>
   
 </div>