<div class="pantalla">

<mat-card>

<form *ngIf='mostrar' [formGroup]='credenciales' (ngSubmit)='acceder()' class="formulario">

    <img class="imgLogo" src="/assets/img/logo_fce.png">
    
    <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="DNI o Legajo sin puntos" formControlName='usuario'>
        <mat-error *ngIf="credenciales.get('usuario').hasError('minlength')">Debe ingresar mas de 7 caracteres</mat-error>
        <mat-error *ngIf="credenciales.get('usuario').hasError('required')">Debe ingresar algún valor</mat-error>
        <mat-error *ngIf="credenciales.get('usuario').hasError('pattern')">Caractéres no permitidos</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input *ngIf='!ver_clave' matInput pvblaceholder="Contraseña" formControlName='clave' type="password">
            <input *ngIf='ver_clave' matInput pvblaceholder="Contraseña" formControlName='clave' type="text">
            <mat-error *ngIf="credenciales.get('clave').hasError('minlength')">Debe ingresar mas de 5 caracteres</mat-error>
            <mat-error *ngIf="credenciales.get('clave').hasError('required')">Debe ingresar algún valor</mat-error>
            <button type='button' mat-icon-button matSuffix (click)="ver_clave = !ver_clave" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ver_clave ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    </mat-form-field>

    <button *ngIf='!accediendo' class="btnAcceder" mat-flat-button color="primary" type='submit'>ACCEDER</button>
    <mat-progress-bar *ngIf='accediendo' mode="indeterminate" class="spiner" ></mat-progress-bar>
    <!-- <button type='submit'>Ingresar</button> -->

    <mat-checkbox class="check">Recordar mis datos</mat-checkbox>

    <a href='https://www.usuarios.econo.unlp.edu.ar/recuperar-clave'>no me acuerdo mi clave</a>

</form>

<button (click)='login_hash()'>Ingresar usando código qr</button>

</mat-card>

<div>
        <div>Una cuenta.</div> 
        <div>Todos los servicios de la FCE a tu disposición.</div>
</div>



</div>

<div *ngIf='error'>{{error}}</div>