<div class="recuperarClave">
    <div>
      <mat-toolbar class="cabecera">
       <div>
         <img class="imgLogoHeader" src="/assets/img/logo_usuarios.png">
         <span>Recuperar Contraseña</span>
       </div>
    </mat-toolbar>
    </div>

    <div class="contenido">
      <router-outlet></router-outlet>
    </div>

    <div class="footer">
          <div class="footerPrincipal">DiTESI | Dirección de tecnologías y Sistemas Informáticos | Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777</div>
          <div class="footerAlternativo">  DiTESI | Dirección de tecnologías y Sistemas Informáticos | FCE</div>
    </div>

</div>
