.pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background-image: url("/assets/img/fondo2.jpeg");
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
    @media screen and (max-width: 768px){
      background-image: none !important;
      background-color: white;
    } 
    @media screen and (min-width: 1600px){
    zoom: 1.2;
    }
 }

 .card {
    min-height: 512px;
    width: 400px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    @media screen and (max-width: 768px){
      width: 100%;
      height: 100%;
    }
}


.animacionLateral {
	-webkit-animation: animacionLateral 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: animacionLateral 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 
@-webkit-keyframes animacionLateral {
    0% {
      -webkit-transform: translateZ(700px) translateX(-400px);
              transform: translateZ(700px) translateX(-400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes animacionLateral {
    0% {
      -webkit-transform: translateZ(700px) translateX(-400px);
              transform: translateZ(700px) translateX(-400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }

.formulario {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

.imgLogo {
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  opacity: .9;
  @media screen and (max-width: 768px){
     width: 70%;
 }
}


.contenedorDivisor {
  margin: 5px 0 5px 0;
  border-top: 1px solid #E0E0E0;
}

.subTitulo {
  margin: 5px 0 20px 0;
  opacity: 0.9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btnAcceder {
     padding: 8px;
     min-height: 52px;
}

.footer {
  color:#5b5b5b;
  font-size: 11px;
  margin-top: 10px;
  @media screen and (max-width: 768px){
    display: none;
  }
}

