<div class="pantalla">

    <mat-card class="card animacionLateral">

        <form [formGroup]='form' (ngSubmit)='verify()' class="formulario">

            <img class="imgLogo" src="/assets/img/logo_fce.png">
            <div><b>RECUPERAR CONTRASEÑA</b></div>
            <div class="contenedorDivisor"></div>
            <div class="subTitulo">Ingrese su DNI o Pasaporte para iniciar el proceso de recupero de contraseña.</div>
            
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Ingrese su DNI..." formControlName='user' type="text">
                <mat-error *ngIf="form.get('user').hasError('minlength')">5 caracteres como mínimo</mat-error>
                <mat-error *ngIf="form.get('user').hasError('required')">Ingrese su DNI o Pasaporte</mat-error>
                <mat-error *ngIf="form.get('user').hasError('pattern')">Caractéres no permitidos</mat-error>
            </mat-form-field>

            <button *ngIf='!accediendo' class="btnAcceder" mat-flat-button color="primary" type='submit'>SIGUIENTE</button>
            <button *ngIf='accediendo' class="btnAcceder" mat-flat-button color="primary" type='submit'><mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar></button>
        
        </form>
        
    </mat-card>
       
    <div class="footer animacionLateral"> DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</div>
        
</div>