<div class="pantalla">

    <mat-card class="card animacionLateral">
    
        <form [formGroup]='form' (ngSubmit)='verificar()' class="formulario">
            
            <img class="imgLogo" src="/assets/img/logo_fce.png">
            <div><b>VERIFICAR CÓDIGO</b></div>
            <div class="contenedorDivisor"></div>
            <div class="subTitulo">Te hemos enviado un código a <b>{{correo}}</b>, copia y pega el código.</div>
            <div class="subTituloAlternativo">Recuerda revisar la bandeja de correo no deseado (Spam) es probable que los correos electrónicos que te enviamos se encuentren allí.</div>

            <mat-form-field appearance="outline">
                <mat-label>Código de Verificación</mat-label>
                <input matInput placeholder="Código recibido en su correo..." formControlName='code' type="text">
                <mat-error *ngIf="form.get('code').hasError('minlength')">4 caracteres como mínimo</mat-error>
                <mat-error *ngIf="form.get('code').hasError('required')">Debe ingresar algún valor</mat-error>
                <mat-error *ngIf="form.get('code').hasError('pattern')">Caractéres no permitidos</mat-error>
                <mat-error *ngIf="error">Código erróneo</mat-error>
            </mat-form-field>


            <button *ngIf='!accediendo' class="btnAcceder" mat-flat-button color="primary" type='submit'>SIGUIENTE</button>
            <button *ngIf='accediendo' class="btnAcceder" mat-flat-button color="primary" type='submit'><mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar></button>
            
        </form>
            
    </mat-card>
           
    <div class="footer animacionLateral">DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</div>
   
</div>