
.cabecera {
  padding: 10px 0 10px 20px;
}

.btnVolver {
  background-color: rgba(0,0,0,.12);
}

.contenido {
  padding: 20px;
  margin: 0 auto;
  width: 30%;
}

.formulario {
  margin-top: 20px;
  display: flex;
flex-direction: column;
}

.mensaje {
  margin-top: 5px;
}

.contenedorImput {
    margin-top: 20px;
}

.cuentaDeCorreo {
  color: #4186e1;
  font-style: oblique;
}

.btnSiguiente {
  background-color: #4186e1;
  color: white;
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  .contenido {
    width: 100%;
  }
}
