
<form *ngIf='data' [formGroup]='form' (ngSubmit)='enviar_correo()'>
  <div>
    <div>
      <span *ngIf='esVaron()'>Bienvenido</span><span *ngIf='!esVaron()'>Bienvenida</span> {{data.usuario.nombre}} {{data.usuario.apellido}}
    </div>
    <div>
      Por favor complete la información faltante para poder enviarle el código de verificación.
    </div>
  </div>
  <div>
      Cuenta alternativa registrada : {{data.correo.ayuda}}
  </div>
  <div>
    Reingresar Correo <input type='email' formControlName='email'/>
    <mat-error *ngIf='!form.valid && form.dirty'>El correo no concuerda</mat-error>
  </div>
  <button type='submit'>Enviar Código</button>
</form>
