<div>

  <div class="cabecera">
      <button mat-button class="btnVolver"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
  </div>

  <mat-divider></mat-divider>

  <div class="contenido">

    <h3>DNI INEXISTENTE </h3>

    <p class="mensaje"> <i class="material-icons">subdirectory_arrow_right</i>
      No existe ninguna cuenta con el DNI ingresado, si deseas crear una cuenta por favor ingresa
      <a href='https://pedidos.econo.unlp.edu.ar/nueva_cuenta'>aquí</a>.
    </p>
    <p class="mensaje"> <i class="material-icons">subdirectory_arrow_right</i>
      Si consideras que esto es un error y ya tienes una cuenta creada por favor ingresa
      <a href='https://pedidos.econo.unlp.edu.ar/recupero_clave'>aquí</a> para que te podamos ayudar.
    </p>

  </div>

</div>
