<div>

  <div class="cabecera">
      <button mat-button class="btnVolver"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
  </div>

  <mat-divider></mat-divider>

  <div class="contenido">

    <h3>ERROR DE SERVIDOR </h3>


    <p class="mensaje"> <i class="material-icons">subdirectory_arrow_right</i>
      Ocurrió un error inesperado en el servidor, por favor vuelva a intentar en unos minutos,
      si el problema persiste  ingresa <a href='https://pedidos.econo.unlp.edu.ar/error_servidor'>aquí</a> para poder ayudarte.
    </p>

  </div>

</div>
