<div>

  <div class="cabecera">
      <button mat-button class="btnVolver"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
  </div>

  <mat-divider></mat-divider>

  <div class="contenido">

    <h3>NO TIENES CONFIGURADO TU CORREO ALTERNATIVO </h3>


    <p class="mensaje"> <i class="material-icons">subdirectory_arrow_right</i>
      Al no tener una cuenta de correo alternativa configurada no podemos verificar tu identidad para completar el recupero de contraseña.
    <p>
    <p class="mensaje">
      Ingresa <a href='https://pedidos.econo.unlp.edu.ar/sin_correo_alternativo'>aquí</a> para que te podamos ayudar a resolver el problema.
    </p>

  </div>

</div>
